.DS_Store
!improvedhistory_dev/history/provinces/2461 - Dahra.txt
!improvedhistory_dev/history/provinces/2462 - Ouarsenis.txt
!improvedhistory_dev/history/provinces/2463 - Maaskar.txt
!improvedhistory_dev/history/provinces/2464 - Ouarzazate.txt
!improvedhistory_dev/history/provinces/2465 - Oudja.txt
!improvedhistory_dev/history/provinces/2462 - Ouarsenis.txt
!improvedhistory_dev.mod
